---
http_interactions:
- request:
    method: post
    uri: https://sonar.labs.rapid7.com/api/v2/metasploit_verify
    body:
      encoding: UTF-8
      string: '{"product_key":"SOME-VALID-KEY"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"valid":true,"api_key":"YOUR-VALID-API-KEY","email":"metasploit-sdafsaefaef@rapid7.com"}'
  recorded_at: Thu, 19 Nov 2015 04:54:20 GMT
- request:
    method: post
    uri: https://sonar.labs.rapid7.com/api/v2/metasploit_verify
    body:
      encoding: UTF-8
      string: '{"product_key":"SOME-VALID-KEY"}'
    headers:
      Content-Type:
      - application/json
      X-Sonar-Token:
      - 6e28da9c72c1e2cecd2ac8ae890853fa72d26d55
      X-Sonar-Email:
      - marklinstop@gmail.com
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"status":"404","error":"Not Found"}'
  recorded_at: Mon, 23 Nov 2015 02:49:51 GMT
recorded_with: VCR 2.8.0
